{% extends "components/modal.html" %}
{% block modal_id %}
    {{ "CreateStudentModal" }}
{% endblock modal_id %}
{% block modal_title %}
    Create Student
{% endblock modal_title %}
{% block modal_body %}
    <form action="{% url "students_index" %}" method="post">
        {% csrf_token %}
        {{ student_form.as_table }}
    {% endblock modal_body %}
    {% block modal_footer %}
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
{% endblock modal_footer %}
