{% extends "components/modal.html" %}
{% load custom_tags %}
{% block modal_id %}
    "EditStudent{{ student.id }}"
{% endblock modal_id %}
{% block modal_title %}
    Edit {{ student.full_name }}
{% endblock modal_title %}
{% block modal_body %}
    <form action="{% url "students_object" student.id %}"
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        {% comment %} {{ student_forms[forloop.counter0].as_table }} {% endcomment %}
        {% get_form_from_dict student_forms student.id %}
    {% endblock modal_body %}
    {% block modal_footer %}
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock modal_footer %}
