{% extends "layout/dashboard_layout.html" %}
{% load bootstrap_icons %}
{% block title %}
    Students
{% endblock title %}
{% block content %}
    <button type="button"
            class="btn btn-primary mb-3"
            data-bs-toggle="modal"
            data-bs-target="#CreateStudentModal">{% bs_icon 'plus' size='1.3em' extra_classes='me-1' %}Create</button>
    <div class="container">
        <div class="row gy-4">
            {% for student in students %}
                {% include "domain/students/components/student_card.html" %}
            {% endfor %}
        </div>
    </div>
    {% include "domain/students/components/create_student_modal.html" %}
{% endblock content %}
