{% extends "layout/auth_layout.html" %}
{% block header_title %}
  Sign in
{% endblock header_title %}
{% block content %}
  {% include "components/form_errors.html" with form=form %}
  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="row justify-content-center mt-2">
      <div class="col-12 col-md-8 mb-3">
        <div class="form-group text-start">
          <label class="small mb-1">Username</label>
          {{ form.username }}
        </div>
      </div>
      <div class="col-12 col-md-8 mb-3">
        <div class="form-group text-start">
          <label class="small mb-1">Password</label>
          {{ form.password }}
        </div>
      </div>
    </div>
    <div class="form-group mt-1 mb-0">
      <button type="submit" class="col-5 btn btn-light">Login</button>
      <br>
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  <p class="mt-2 small">
    <a href="{% url 'password_reset' %}">Lost password?</a>
  </p>
{% endblock content %}
{% block card_footer %}
  <div class="card-footer text-center">
    <div class="small">
      <a href="{% url 'signup' %}">Create account</a>
    </div>
  </div>
{% endblock card_footer %}
