{% extends "layout/auth_layout.html" %}
{% block header_title %}
    Password reset sent
{% endblock header_title %}
{% block content %}
    <div class="alert alert-primary" role="alert">
        We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
    </div>
    <p class="small w-75 mx-auto">
        If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
    </p>
{% endblock content %}
{% block card_footer %}
    <div class="card-footer text-center">
        <div class="small">
            <a href="{% url 'login' %}">Sign in</a>
        </div>
    </div>
{% endblock card_footer %}
