{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <title>
      {% block title %}
        Lessons ORG
      {% endblock title %}
    </title>

    {% comment %} Bootstrap CSS {% endcomment %}
    <link href="{% static 'bootstrap_v_5_3_2/bootstrap.min.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="d-flex flex-column min-vh-100">
      {% include "layout/header.html" %}

      <div class="flex-grow-1 m-3">
        {% block content %}{% endblock content %}
      </div>
    </div>

    {% comment %} Bootstrap JS {% endcomment %}
    <script src="{% static 'bootstrap_v_5_3_2/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
