{% extends "base.html" %}
{% load static %}
{% block layout %}
    <div class="d-flex flex-column">
        {% include "layout/header.html" %}
        <div class="flex-grow-1 m-3 min-vh-100">
            {% block content %}
            {% endblock content %}
            {% comment %} Bootstrap JS {% endcomment %}
            <script src="{% static 'bootstrap_v_5_3_2/bootstrap.bundle.min.js' %}"></script>
            {% include "layout/flash_messages.html" %}
        </div>
    </div>
{% endblock layout %}
