<div class="toast-container position-fixed bottom-0 end-0 p-2">
    {% comment %} HTMX message {% endcomment %}
    <div class="toast-container position-fixed bottom-0 end-0 p-2">
        <div id="liveToastHtmx"
             class="toast align-items-center border-0"
             role="alert"
             aria-live="assertive"
             aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body"></div>
                <button type="button"
                        class="btn-close btn-close-white me-2 m-auto"
                        data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
        </div>
    </div>
    {% comment %} Flash messages {% endcomment %}
    {% if messages %}
        {% for message in messages %}
            <div id="liveToast{{ forloop.counter }}"
                 class="toast align-items-center text-bg-{% if message.tags == 'info' %}primary{% elif message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} border-0"
                 role="alert"
                 aria-live="assertive"
                 aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">{{ message }}</div>
                    <button type="button"
                            class="btn-close btn-close-white me-2 m-auto"
                            data-bs-dismiss="toast"
                            aria-label="Close"></button>
                </div>
                <script>
            bootstrap.Toast.getOrCreateInstance(
                document.getElementById("liveToast{{ forloop.counter }}")
            ).show()
                </script>
            </div>
        {% endfor %}
    {% endif %}
</div>
<script>
    document.body.addEventListener('toast-message', function(evt) {
        const message = evt.detail.message || ""
        const tag = evt.detail.tag  || "info"

        if(!message) return

        const fixedTagClassName = tag == 'info' ? 'primary' : tag == 'error' ? 'danger' : tag
       
        const toast = document.getElementById('liveToastHtmx')
        toast.classList.add("text-bg-" + fixedTagClassName)
        toast.querySelector('.toast-body').innerText = message

        const toastInstance = bootstrap.Toast.getOrCreateInstance(toast)

        toastInstance.show()
    });
</script>
