{% load static %}
{% load bootstrap_icons %}
{% with request.resolver_match.url_name as url_name %}
    <div class="d-flex flex-column flex-shrink-0 p-3 h-100 border-end"
         style="width: 280px">
        <a href="{% url 'dashboard' %}"
           class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            {% include "components/logo.html" %}
            <span class="fs-4 mx-2">LessonsORG</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="{% url 'dashboard' %}"
                   class="nav-link text-white {% if url_name == 'dashboard' %}active{% endif %}">
                    {% bs_icon 'house' size='1.3em' extra_classes='bi pe-none me-2' %}
                    Home
                </a>
            </li>
            <li>
                <a href="{% url 'students' %}"
                   class="nav-link text-white {% if url_name == 'students' %}active{% endif %}">
                    {% bs_icon 'mortarboard' size='1.3em' extra_classes='bi pe-none me-2' %}
                    Students
                </a>
            </li>
            <li>
                <a href="{% url 'lessons' %}"
                   class="nav-link text-white  {% if url_name == 'lessons' %}active{% endif %}">
                    {% bs_icon 'journal-text' size='1.3em' extra_classes='bi pe-none me-2' %}
                    Lessons
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#"
               class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
               data-bs-toggle="dropdown"
               aria-expanded="false">
                {% include "components/default_avatar.html" %}
                <strong class="mx-2">{{ user.username }}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li>
                    <a class="dropdown-item" href="{% url 'dashboard' %}">Profile</a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'logout' %}">Sign out</a>
                </li>
            </ul>
        </div>
    </div>
{% endwith %}
